{% autoescape off %}{% load i18n %}{% blocktranslate %}You are receiving this email because you asked to reset the password for your user account at {{ site.shop_name|default:"Saree Elegance" }}.{% endblocktranslate %}

{% translate "Please go to the following page and choose a new password:" %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% translate "Your username, in case you've forgotten:" %} {{ user.get_username }}

{% blocktranslate %}If you did not request this, you can safely ignore this email.{% endblocktranslate %}
{% endautoescape %}
